.vh-50{
     height: 50vh;
}
.vh-25{
     height: 25vh;
}
.vh-75{
     height: 75vh;
}
.vw-50{
     width: 50vw;
}
.vw-25{
     width: 25vw;
}
.vw-75{
     width: 75vw;
}
.row>*{
     padding-left: 0;
     padding-right: 0;
}

.bg-sidebar{
     background-color: #fff7ee;

}